$letras: whitesmoke;

body {
  background-color: white;
  margin: 0;
  text-align: left;

  display: grid;
  min-height: 100vh;

  grid-template-columns: 300px 1fr;
  grid-template-rows: 100% 100%;

  grid-template-areas: "menu conteudo";
}

nav {
  grid-area: menu;
  background-color: lightcoral;
}

main {
  grid-area: conteudo;
}

.titulo {
  font-size: 30px;
  color: $letras;
  padding-top: 20px;
  text-align: center;
}

.titulo2 {
  font-size: 25px;
  color: $letras;
  padding-top: 30px;
}

.centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container > div {
  background-color: whitesmoke;
  margin: 5px;
  padding: 18px 18px;
  
}
